[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pylint = "*"
pytest = "*"
mite = "*"
autopep8 = "*"

[packages]
opencv-python = "*"
pytesseract = "*"

[requires]
python_version = "3.8"
